%h1 Listing xransfers

%table
  %thead
    %tr
      %th
      %th
      %th
      
  %tbody
    - @xransfers.each do |xransfer|
      %tr
        %td= link_to 'Show', xransfer
        %td= link_to 'Edit', edit_xransfer_path(xransfer)
        %td= link_to 'Destroy', xransfer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Xransfer', new_xransfer_path
