.container
  .row
    %h3 User
    .column
      %p
        Type: #{@transaction.type}

      = link_to 'Edit', edit_transaction_path(@transaction)
      %br
      = link_to 'Back', transactions_path
